<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="card">

        <h2>Kigali</h2>
        <h3>Cloudy<span>Wind 10km/h <span class="dot">•</span> Precip <span th:text="${humidity}"></span>%</span></h3>
        <h1 th:text="${temperature}">23°</h1>
        <div class="sky">
            <div class="sun"></div>
            <div class="cloud">
                <div class="circle-small"></div>
                <div class="circle-tall"></div>
                <div class="circle-medium"></div>
            </div>
        </div>
        <table>
            <tr>
                <td>TUE</td>
                <td>WED</td>
                <td>THU</td>
                <td>FRI</td>
                <td>SAT</td>
            </tr>
            <tr>
                <td>30°</td>
                <td>34°</td>
                <td>36°</td>
                <td>34°</td>
                <td>37°</td>
            </tr>
            <tr>
                <td>17°</td>
                <td>22°</td>
                <td>19°</td>
                <td>23°</td>
                <td>19°</td>
            </tr>
        </table>
    </div>
</body>
</html>